.carrito-compra {
  .title {
    .itemCount {
      align-content: center;
    }

    h4 {
      margin-bottom: 7px;
    }
  }
  .agregar-items {
    font-size: 0.85rem;

    svg {
      height: 15px;
      width: 15px;
    }
  }

  .items {
    overflow-y: auto;
    max-height: 436px;

    .detalles {
      .marca {
        font-weight: 700;
      }
      .descripcion {
      }
    }
    .cantidad {
      font-size: 1.1rem;
      font-weight: 700;
      .pointer {
        // &:hover {
        //   color: #323a49;
        // }
      }
    }
    .precio {
      font-weight: 700;
    }
    .acciones {
    }
  }

  .resumen {
    label,
    .total,
    .boton-facturar {
      font-weight: 700;
    }
    .empleado {
    }
    .cliente {
    }
    .metodo-pago {
    }
    .boton-facturar {
    }
  }
}
