<c-card class="my-4 carrito-compra">
  <c-card-body class="pt-4">
    <c-row class="mb-4">
      <c-col lg="8">
        <div class="title px-3">
          <c-row class="mb-3 justify-content-between">
            <c-col>
              <h4 class=""><b>Tus Productos</b></h4>
              <div
                class="text-left agregar-items link-primary pointer"
                (click)="modalStatusById(listadoProductos, true)"
              >
                <svg cIcon height="18" name="cil-plus"></svg> Agregar
              </div>
            </c-col>
            <c-col class="col text-end text-muted itemCount">
              <span class="">{{ Productos.length }} items</span>
            </c-col>
          </c-row>
        </div>
        <hr />

        <c-container [fluid]="true" class="items px-3">
          <c-row class="mb-4 border-bottom align-items-center pb-3 pt-2">
            <c-col class="item detalles" md="4">
              <div class="d-flex justify-content-start">
                <span class="fw-bold">Descripción </span>
              </div>
            </c-col>
            <c-col class="item cantidad">
              <div class="d-flex justify-content-center">
                <span class="">Cantidad </span>
              </div>
            </c-col>
            <c-col class="text-center item precio">
              <span class="price">Precio U.</span>
            </c-col>
            <c-col class="text-center item precio">
              <span class="price">Precio T.</span>
            </c-col>
            <c-col class="text-end item acciones">
              <div class="px-3"></div>
            </c-col>
          </c-row>
          @for (producto of Productos; track producto.id; let i = $index) {
          <c-row class="mb-4 border-bottom align-items-center">
            <c-col class="pt-2 pb-3 item detalles" md="4">
              <p class="text-muted mb-1 marca">{{ producto.marca }}</p>
              <p class="descripcion">{{ producto.descripcion }}</p>
            </c-col>
            <c-col class="item cantidad">
              <div class="d-flex justify-content-center">
                <!-- <span class="me-2 pointer link-primary fw-bold">-</span> -->
                <span class="">{{ producto.cantidadPedido }}</span>
                <!-- <span class="ms-2 pointer link-primary fw-bold">+</span> -->
              </div>
            </c-col>
            <c-col class="text-center item precio">
              <span class="price">{{
                producto.precioUnitario | currency : "ARS"
              }}</span>
            </c-col>
            <c-col class="text-center item precio">
              <span class="price">{{
                producto.precioTotal | currency : "ARS"
              }}</span>
            </c-col>
            <c-col class="text-end item acciones">
              <div class="px-3">
                <span
                  class="pointer d-inline-block"
                  (click)="eliminarProductoCarrito(producto)"
                >
                  <svg cIcon height="18" name="cil-trash"></svg>
                </span>
              </div>
            </c-col>
          </c-row>
          }
        </c-container>
      </c-col>
      <c-col lg="4" class="resumen px-3">
        <div class="title px-3">
          <c-row class="mb-3 justify-content-between">
            <c-col>
              <h4 class="mb-0"><b>Detalle</b></h4>
            </c-col>
          </c-row>
        </div>
        <hr />
        <c-row class="mb-4 px-3">
          <c-col class="empleado">
            <div class="">
              <label cLabel for="empleadoSelect" class="mb-3"
                >Empleados
                <c-spinner size="sm" *ngIf="loadingEmpleados" />
              </label>
              <select
                aria-label="empleadoSelect"
                cSelect
                class=""
                id="empleadoSelect"
                [(ngModel)]="empleadoModel"
              >
                <option selected hidden value="0">
                  Seleccione un empleado
                </option>
                <option
                  *ngFor="let empleado of Empleados"
                  [ngValue]="empleado.id"
                >
                  {{ empleado.nombre_completo }}
                </option>
              </select>
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-4 px-3">
          <c-col class="cliente">
            <div class="">
              <label cLabel for="clienteInput" class="mb-3"
                >Cliente
                <c-spinner size="sm" *ngIf="LoadingSearchClient" />
              </label>
              <input
                cFormControl
                id="clienteInput"
                placeholder=""
                type="text"
                [(ngModel)]="clienteModel"
                [ngbTypeahead]="searchClient"
                [resultTemplate]="CLientTypeaHead"
                [inputFormatter]="formatterValue"
                (selectItem)="eventInputTypeHead($event)"
              />
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-4 px-3">
          <c-col class="metodo-pago">
            <div class="">
              <label cLabel for="MetodoInput" class="mb-3"
                >Medio de pago
                <c-spinner size="sm" *ngIf="loadingMetodosPagos" />
              </label>
              <select cSelect id="MetodoInput" [(ngModel)]="MedioPagoModel">
                <option hidden value="0">Seleccione un método de pago</option>
                <option
                  *ngFor="let MetodosPago of MetodosPagos"
                  [ngValue]="MetodosPago.id"
                >
                  {{ MetodosPago.tipo | uppercase }}
                </option>
              </select>
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-4 px-3">
          <c-col class="descripcion-factura">
            <div class="">
              <label cLabel for="descuentoFactura">Descuento</label>
              <c-input-group class="mb-3">
                <input
                  aria-describedby="descuentoFactura"
                  aria-label="descuentoFactura"
                  cFormControl
                  placeholder="Descuento"
                  [(ngModel)]="DescuentoModel"
                  (ngModelChange)="changeDescuento($event)"
                  type="text"
                  appOnlyNumberAndPoint
                />
                <span cInputGroupText id="descuentoFactura">%</span>
              </c-input-group>
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-4 px-3">
          <c-col class="descripcion-factura">
            <div class="">
              <label cLabel for="descripcionFactura">Descripción</label>
              <textarea
                cFormControl
                id="descripcionFactura"
                rows="3"
                [(ngModel)]="DescripcionModel"
              ></textarea>
            </div>
          </c-col>
        </c-row>
        <c-row class="mb-4 px-3">
          <c-col class="total d-flex justify-content-between">
            <span class="title">Sub-total</span>
            <span class="price">{{ PrecioTotal | currency : "ARS" }}</span>
          </c-col>
        </c-row>
        <c-row class="mb-4 px-3">
          <c-col class="total d-flex justify-content-between">
            <span class="title">Total</span>
            <span class="price">{{ PrecioFinal | currency : "ARS" }}</span>
          </c-col>
        </c-row>
        <c-row class="mb-4 px-3">
          <c-col class="boton-facturar d-grid gap-2">
            <button
              cButton
              color="primary"
              (click)="facturar()"
              [disabled]="!validarFactura()"
            >
              Facturar
            </button>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<ng-template #CLientTypeaHead let-resultado="result" let-resaltado="term">
  <ngb-highlight [result]="resultado.id" [term]="resaltado.id"></ngb-highlight>
  -
  <ngb-highlight
    [result]="resultado.nombre"
    [term]="resaltado.nombre"
  ></ngb-highlight>
  &nbsp;
  <ngb-highlight
    [result]="resultado.apellido"
    [term]="resaltado.apellido"
  ></ngb-highlight>
</ng-template>

<!-- <c-modal id="listadoProductos" size="xl">
  <c-modal-header>
    <h5 cModalTitle>
      <svg cIcon height="18" name="cil-playlist-add"></svg> Listado de productos
    </h5>
    <button
      (click)="modalStatusById('listadoProductos', false)"
      cButtonClose
    ></button>
  </c-modal-header>
  <c-modal-body>
    <app-productos-pedido></app-productos-pedido>
  </c-modal-body>
</c-modal> -->
<ng-template #listadoProductos size="xl" id="listadoProductos-template">
  <c-modal-header>
    <h5 cModalTitle>
      <svg cIcon height="18" name="cil-playlist-add"></svg> Listado de productos
    </h5>
    <button (click)="modalRef.close()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body id="listadoProductos-body">
    <app-productos-pedido></app-productos-pedido>
  </c-modal-body>
</ng-template>
