<form cForm [formGroup]="ServicioCrudForm" class="form-Cliente-crud">
  <c-row class="mb-4 flex-wrap">
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="descripcionInput"
          placeholder="descripcion"
          type="text"
          formControlName="descripcion"
          [ngClass]="{
            'is-invalid':
              getControl('descripcion').invalid &&
              getControl('descripcion').touched,
            'is-valid': getControl('descripcion').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="descripcionInput">Descripción</label>
        <app-valid-messages-form
          [errors]="getControlError('descripcion')"
          [messages]="ClienteCrudErrorMessages['descripcion']"
        ></app-valid-messages-form>
      </div>
    </c-col>
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="PrecioInput"
          placeholder="precio"
          type="text"
          formControlName="precio"
          [ngClass]="{
            'is-invalid':
              getControl('precio').invalid && getControl('precio').touched,
            'is-valid': getControl('precio').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="PrecioInput">Precio</label>
        <app-valid-messages-form
          [errors]="getControlError('precio')"
          [messages]="ClienteCrudErrorMessages['precio']"
        ></app-valid-messages-form>
      </div>
    </c-col>
  </c-row>
  <c-row class="mb-4">
    <c-col class="text-center">
      @if (Servicio) {
      <button cButton color="info" (click)="sendValueFom()">Editar</button>
      } @else {
      <button cButton color="info" (click)="sendValueFom()">Agregar</button>
      }
    </c-col>
  </c-row>
</form>
