<c-card class="my-4">
  <c-card-header>
    <!-- <p class="h3">Agregar producto</p> -->
  </c-card-header>
  <c-card-body class="pt-4 pb-5">
    <c-container [fluid]="true" class="px-0">
      <c-row class="g-4" class="mb-5">
        <c-col md="12">
          <button
            cButton
            color="info"
            class="btn-action-table me-3"
            (click)="modalStatusById('filtros', true)"
          >
            <svg cIcon height="18" name="cil-filter"></svg>
            Filtros
          </button>
        </c-col>
      </c-row>
      <c-row class="g-4">
        <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Total Facturado'"
            color="info"
            inverse
            value="{{ Panel.total_facturado | currency : 'ARS' }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faFileInvoiceDollar"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col>
        <c-col
          xl="3"
          lg="4"
          sm="6"
          class=""
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Cantidad de Facturas'"
            color="success"
            inverse
            value="{{
              Panel.total_facturas == 1
                ? Panel.total_facturas + ' Fac.'
                : Panel.total_facturas + ' Facs.'
            }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faFileInvoiceDollar"></svg>
            </ng-template>
          </c-widget-stat-c>

          }
        </c-col>
        <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Facturas Eliminadas'"
            color="danger"
            inverse
            value="{{
              Panel.total_facturas_eliminadas == 1
                ? Panel.total_facturas_eliminadas + ' Fac.'
                : Panel.total_facturas_eliminadas + ' Facs.'
            }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faFileInvoiceDollar"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col>
        <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Cantidad Productos'"
            color="warning"
            inverse
            value="{{
              Panel.total_productos == 1
                ? Panel.total_productos + ' Prod.'
                : Panel.total_productos + ' Prods.'
            }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="cil-cut"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col>

        <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            [title]="'Gastos'"
            color="primary"
            inverse
            value="{{
              Panel.total_gastos == 1
                ? Panel.total_gastos + ' Gto.'
                : Panel.total_gastos + ' Gtos.'
            }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faHandHoldingDollar"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col>
        <c-col
          xl="3"
          lg="4"
          sm="6"
          [ngClass]="{
            'align-items-center justify-content-center d-flex': loaderPanel
          }"
        >
          @if(loaderPanel){
          <c-spinner aria-hidden="true" size="sm" variant="grow" />
          }@else{
          <c-widget-stat-c
            class="bg-1"
            [title]="'Gastos Acumulados'"
            inverse
            value="{{
              Panel.total_gastos_acumulado == 1
                ? Panel.total_gastos_acumulado + ' Gto.'
                : Panel.total_gastos_acumulado + ' Gtos.'
            }}"
          >
            <ng-template cTemplateId="widgetIconTemplate">
              <svg cIcon height="36" name="faHandHoldingDollar"></svg>
            </ng-template>
          </c-widget-stat-c>
          }
        </c-col>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>
<c-modal id="filtros">
  <c-modal-header>
    <h5 cModalTitle><svg cIcon height="18" name="cil-filter"></svg> Filtros</h5>
    <button (click)="modalStatusById('filtros', false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-filtros-list-form
      (filtrar)="filtroEvent($event)"
      [showDate]="true"
      [showValidDates]="true"
    />
  </c-modal-body>
</c-modal>
