<c-card class="my-4">
  <c-card-header>
    <p class="h3">Carga de productos</p>
  </c-card-header>
  <c-card-body class="pt-4">
    <c-container [fluid]="true" class="my-table-full px-0" *ngIf="!loaderTable">
      <c-row class="mb-4">
        <c-col>
          <div class="small text-body-secondary mt-3">
            <span class=""> Productos: {{ ProductosList.total }}</span>
          </div>
        </c-col>
        <c-col class="d-flex justify-content-end" md="4">
          <c-input-group class="">
            <input
              class=""
              aria-describedby="button-addon2"
              cFormControl
              name="buscar"
              id="buscarId"
              [(ngModel)]="ParametrosURL.filter"
            />
            <button
              cButton
              color="secondary"
              id="buscarId"
              type="button"
              variant="outline"
              (click)="buscar()"
            >
              Buscar
            </button>
          </c-input-group>
        </c-col>
      </c-row>
      @if(ProductosList.data.length > 0){
      <c-row class="mb-4">
        <c-col>
          <table
            [hover]="true"
            [responsive]="true"
            align="middle"
            cTable
            class="mb-0"
          >
            <thead class="text-nowrap text-truncate">
              <tr>
                <th class="bg-body-tertiary">#</th>
                <th class="bg-body-tertiary">Marca</th>
                <th class="bg-body-tertiary">Descripción</th>
                <th class="bg-body-tertiary">Precio</th>
                <th class="bg-body-tertiary">Cantidad</th>
                <th class="bg-body-tertiary"></th>
              </tr>
            </thead>
            <tbody>
              @for (producto of ProductosList.data; track producto.id; let i =
              $index) {
              <tr>
                <td>
                  <span>{{ producto.id }}</span>
                  <!-- <div class="small text-body-secondary text-nowrap">
                      <span> Registered: </span>
                    </div> -->
                </td>
                <td>
                  <span>{{ producto.marca }}</span>
                </td>
                <td>
                  <span>{{ producto.descripcion }}</span>
                </td>
                <td>
                  <span>{{
                    producto.precio | currency : "ARS" : "symbol"
                  }}</span>
                </td>
                <td>
                  <span>{{ producto.cantidad }} unidades</span>
                </td>
                <td>
                  <div class="d-flex flex-direction">
                    <div class="me-3" ngbTooltip="Editar">
                      <button
                        cButton
                        color="primary"
                        id="buscarId"
                        type="button"
                        class=""
                        cTooltip="agregar al carrito"
                        (click)="
                          modalStatusById('ListadoProductos', true, producto)
                        "
                      >
                        <svg cIcon height="18" name="fa-cart-plus"></svg>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </c-col>
      </c-row>
      <c-row>
        <c-col>
          <c-pagination aria-label="Page navigation">
            <!-- [ngClass]="{
                active: listado.active,
                disabled: listado.url == null
              }" -->
            <li
              cPageItem
              *ngFor="let listado of ProductosList.links"
              [active]="listado.active ? true : false"
              [disabled]="listado.url ? false : true"
              (click)="newPage(listado)"
              class="pointer"
            >
              <span cPageLink [routerLink] [innerHTML]="listado.label"></span>
            </li>
          </c-pagination>
        </c-col>
      </c-row>
      }@else{
      <c-row>
        <c-col>
          <c-container [fluid]="true">
            <h4 class="text-center py-5">No se encontraron productos</h4>
          </c-container>
        </c-col>
      </c-row>
      }
    </c-container>
    <c-container
      [fluid]="true"
      class="my-table-full px-0 text-center"
      *ngIf="loaderTable"
    >
      <c-row class="mb-4">
        <c-col>
          <div class="small text-body-secondary mt-3">
            <span class="h4"> Cargando productos...</span>
          </div>
        </c-col>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>

<c-modal id="ListadoProductos" aria-hidden="true">
  <c-modal-header>
    <h5 cModalTitle>Agregar producto a carrito</h5>
    <button
      (click)="modalStatusById('ListadoProductos', false)"
      cButtonClose
    ></button>
  </c-modal-header>
  <c-modal-body>
    <app-pedido-form [Producto]="Producto" />
  </c-modal-body>
</c-modal>
