<div
  class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center"
>
  <c-container>
    <c-row class="justify-content-center align-items-center">
      <c-col md="12">
        <div class="clearfix text-center">
          <h1 class="display-3 me-4">404</h1>
          <h4 class="pt-3">¡Ups! Lo sentimos.</h4>
          <p class="text-body-secondary">
            La página que estás buscando no fue encontrada.
          </p>

          <a cNavLink [routerLink]="['']">Ir a inicio</a>
        </div>
      </c-col>
    </c-row>
  </c-container>
</div>
