<c-card class="my-4">
  <c-card-body class="pt-4">
    <c-container [fluid]="true" class="px-0">
      <c-row class="mb-5">
        @if(showId){
        <c-col [md]="6">
          <div class="mb-3">
            <label cLabel for="IdInput">Id</label>
            <input
              cFormControl
              id="IdInput"
              name="id"
              placeholder="id"
              type="text"
              [(ngModel)]="filtro.id"
              appOnlyAlphanumeric
            />
          </div>
        </c-col>
        } @if(showValidDates){
        <c-col [md]="6">
          <div class="mb-3">
            <c-form-check [switch]="true">
              <input
                cFormCheckInput
                type="checkbox"
                [(ngModel)]="filtro.allDates"
                id="allDatesId"
              />
              <label cFormCheckLabel class="ms-3" for="allDatesId"
                >Todas las fechas</label
              >
            </c-form-check>
          </div>
        </c-col>
        <div class="w-100 d-none d-md-block"></div>
        } @if(showMarca){
        <c-col [md]="6">
          <div class="mb-3">
            <label cLabel for="marcaInput">Marca</label>
            <input
              cFormControl
              id="marcaInput"
              placeholder="id"
              type="text"
              [(ngModel)]="filtro.marca"
              appOnlyAlphanumeric
              name="marca"
            />
          </div>
        </c-col>
        } @if(showDescripcion){
        <c-col [md]="6">
          <div class="mb-3">
            <label cLabel for="descripcionInput">Descripción</label>
            <input
              cFormControl
              id="descripcionInput"
              placeholder="id"
              type="text"
              [(ngModel)]="filtro.descripcion"
              name="descripcion"
              appOnlyAlphanumeric
            />
          </div>
        </c-col>
        } @if(showDate && !filtro.allDates){
        <c-col [md]="6">
          <div class="mb-3">
            <app-date-range-picker
              [selectedRangeCalendar]="filtro.fecha"
              (handleDate)="handleDate($event)"
            />
          </div>
        </c-col>
        } @if(showLocales){
        <c-col [md]="6">
          <div class="mb-3">
            <label cLabel for="LocalInput">Locales</label>
            <select
              cSelect
              [(ngModel)]="filtro.local_id"
              name="local"
              id="LocalInput"
            >
              <option [ngValue]="0">Todos</option>
              <option
                *ngFor="let local of Locales; let i = index"
                [ngValue]="local.id"
              >
                {{ local.nombre }}
              </option>
            </select>
          </div>
        </c-col>
        } @if(showEmpleados){
        <c-col [md]="6">
          <div class="mb-3">
            <label cLabel for="empleadoInput">Empleados</label>
            <select
              cSelect
              [(ngModel)]="filtro.empleado_id"
              name="empleado"
              id="empleadoInput"
            >
              <option [ngValue]="0">Todos</option>
              <option
                *ngFor="let empleado of Empleados; let i = index"
                [ngValue]="empleado.id"
              >
                {{ empleado.nombre_completo }}
              </option>
            </select>
          </div>
        </c-col>
        } @if(showUsers){
        <c-col [md]="6">
          <div class="mb-3">
            <label cLabel for="userInput">Usuarios</label>
            <select
              cSelect
              [(ngModel)]="filtro.user_id"
              name="user"
              id="userInput"
            >
              <option [ngValue]="0">Todos</option>
              <option
                *ngFor="let usuario of Usuarios; let i = index"
                [ngValue]="usuario.id"
              >
                {{ usuario.nombre_completo }}
              </option>
            </select>
          </div>
        </c-col>
        } @if(showEstado){
        <c-col [md]="6">
          <div class="mb-3">
            <label cLabel for="estadoInput">Estado</label>
            <select
              cSelect
              [(ngModel)]="filtro.estado"
              id="estadoInput"
              name="estado"
            >
              <option [ngValue]="2">Todos</option>
              <option [ngValue]="1">Activo</option>
              <option [ngValue]="0">Eliminado</option>
            </select>
          </div>
        </c-col>
        }
      </c-row>
      <c-row>
        <c-col class="text-center">
          <button cButton class="me-3" color="secondary" (click)="onLimpiar()">
            Limpiar
          </button>
          <button cButton class="" color="primary" (click)="onFiltrar()">
            <svg cIcon height="18" name="cil-filter"></svg>
            Filtrar
          </button>
        </c-col>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>
