<c-card class="my-4">
  <c-card-header>
    <p class="h3">Editar cliente</p>
  </c-card-header>
  <c-card-body class="pt-4">
    @if(loader){
    <c-container [fluid]="true" class="px-0 text-center">
      <c-row class="mb-4">
        <c-col>
          <div class="small text-body-secondary mt-3">
            <span class="h4"> Cargando producto...</span>
          </div>
        </c-col>
      </c-row>
    </c-container>
    }@else {
    <c-container [fluid]="true" class="px-0">
      <c-row class="mb-4">
        <c-col>
          <div class="small text-body-secondary mt-3">
            <!-- <app-producto-crud-form
              (FormsValues)="FormsValues($event)"
              [Producto]="Producto"
            /> -->
            <app-cliente-crud-form
              (FormsValues)="FormsValues($event)"
              [Cliente]="Cliente"
            ></app-cliente-crud-form>
          </div>
        </c-col>
      </c-row>
    </c-container>
    }
  </c-card-body>
</c-card>
