<div
  class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center"
>
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="5" xl="5" md="8" class="px-0">
        <c-card class="p-4">
          <c-card-body>
            <h1 class="text-center mb-5">Iniciar sesión</h1>
            <app-login-form
              [loadingFormLogin]="loadingFormLogin"
              (LoginFormValues)="login($event)"
            />
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
