<form cForm [formGroup]="EmpleadoCrudForm" class="form-Empleado-crud">
  <c-row class="mb-4 flex-wrap justify-content-center">
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="nombreInput"
          placeholder="nombre_completo"
          type="text"
          formControlName="nombre_completo"
          [ngClass]="{
            'is-invalid':
              getControl('nombre_completo').invalid &&
              getControl('nombre_completo').touched,
            'is-valid': getControl('nombre_completo').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="nombreInput">Nombre</label>
        <app-valid-messages-form
          [errors]="getControlError('nombre_completo')"
          [messages]="EmpleadoCrudErrorMessages['nombre_completo']"
        ></app-valid-messages-form>
      </div>
    </c-col>
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="dniInput"
          placeholder="dni"
          type="text"
          formControlName="dni"
          [ngClass]="{
            'is-invalid':
              getControl('dni').invalid && getControl('dni').touched,
            'is-valid': getControl('dni').valid
          }"
          appOnlyNumbers
        />
        <label cLabel for="dniInput">DNI</label>
        <app-valid-messages-form
          [errors]="getControlError('dni')"
          [messages]="EmpleadoCrudErrorMessages['dni']"
        ></app-valid-messages-form>
      </div>
    </c-col>
    <c-col [md]="4">
      <div cFormFloating>
        <select
          cSelect
          id="rolInput"
          formControlName="local_id"
          [ngClass]="{
            'is-invalid':
              getControl('local_id').invalid && getControl('local_id').touched,
            'is-valid': getControl('local_id').valid
          }"
        >
          <option value="0" hidden>Seleccione un local</option>
          <option
            *ngFor="let local of Locales; let i = index"
            [ngValue]="local.id"
          >
            {{ local.nombre | titlecase }}
          </option>
        </select>
        <label cLabel for="rolInput"
          >Locales
          <c-spinner aria-hidden="true" size="sm" *ngIf="loadingLocales"
        /></label>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('local_id')"
        [messages]="EmpleadoCrudErrorMessages['local_id']"
      ></app-valid-messages-form>
    </c-col>
  </c-row>
  <c-row class="mb-4">
    <c-col class="text-center">
      @if (Empleado) {
      <button cButton color="info" (click)="sendValueFom()">Editar</button>
      } @else {
      <button cButton color="info" (click)="sendValueFom()">Agregar</button>
      }
    </c-col>
  </c-row>
</form>
