<!-- @if(SelectType == "range"){ -->
@if(!floatingInput){
<label cLabel for="RangeDateInput" class="form-label">Rango de fechas</label>
}
<input
  type="text"
  id="RangeDateInput"
  class="form-control"
  style="
    box-shadow: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  "
  readonly
  ngxDaterangepickerBootstrap
  [(ngModel)]="selectedRangeCalendar"
  [drops]="dropsDown"
  [opens]="opensCenter"
  [locale]="locale"
  [showCustomRangeLabel]="false"
  [showCancel]="true"
  [linkedCalendars]="false"
  [alwaysShowCalendars]="true"
  [showRangeLabelOnInput]="false"
  [keepCalendarOpeningWithRange]="false"
  [isCustomDate]="isCustomDate"
  [isInvalidDate]="isInvalidDate"
  (datesUpdated)="datesUpdatedRange($event)"
  cFormControl
/>
@if(floatingInput){
<label cLabel for="RangeDateInput" *ngIf="floatingInput">Rango de fechas</label>
}
<!-- } @if(SelectType == "onlyOne"){
<input
  type="text"
  id="singleCalendarCenter"
  class="form-control"
  style="
    box-shadow: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  "
  readonly
  ngxDaterangepickerBootstrap
  [singleDatePicker]="true"
  [(ngModel)]="selectedSingleCalendarCenter"
  [drops]="dropsDown"
  [opens]="opensCenter"
  [locale]="locale"
  [isCustomDate]="isCustomDate"
  [isInvalidDate]="isInvalidDate"
  (datesUpdated)="datesUpdatedSingle($event)"
  aria-describedby="singleCalendarCenterDesc"
/>
} -->
