<form cForm [formGroup]="TipoGastoCrudForm" class="form-Empleado-crud">
  <c-row class="mb-4 justify-content-center">
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="descripcionInput"
          placeholder="descripcion"
          type="text"
          formControlName="descripcion"
          [ngClass]="{
            'is-invalid':
              getControl('descripcion').invalid &&
              getControl('descripcion').touched,
            'is-valid': getControl('descripcion').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="descripcion">Descripción</label>
        <app-valid-messages-form
          [errors]="getControlError('descripcion')"
          [messages]="TipoGastoCrudErrorMessages['descripcion']"
        ></app-valid-messages-form>
      </div>
    </c-col>
  </c-row>
  <c-row class="mb-4">
    <c-col class="text-center">
      @if (TipoGasto) {
      <button cButton color="info" (click)="sendValueFom()">Editar</button>
      } @else {
      <button cButton color="info" (click)="sendValueFom()">Agregar</button>
      }
    </c-col>
  </c-row>
</form>
