<form cForm [formGroup]="ProductoCrudForm" class="form-Producto-crud">
  <c-row class="mb-4 flex-wrap">
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="marcaInput"
          placeholder="marca"
          type="text"
          formControlName="marca"
          [ngClass]="{
            'is-invalid':
              getControl('marca').invalid && getControl('marca').touched,
            'is-valid': getControl('marca').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="marcaInput">Marca</label>
        <app-valid-messages-form
          [errors]="getControlError('marca')"
          [messages]="ProductoCrudErrorMessages['marca']"
        ></app-valid-messages-form>
      </div>
    </c-col>
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="descripcionInput"
          placeholder="Descripción"
          type="text"
          formControlName="descripcion"
          [ngClass]="{
            'is-invalid':
              getControl('descripcion').invalid &&
              getControl('descripcion').touched,
            'is-valid': getControl('descripcion').valid
          }"
          appOnlyAlphanumeric
        />
        <label cLabel for="descripcionInput">Descripción</label>
        <app-valid-messages-form
          [errors]="getControlError('descripcion')"
          [messages]="ProductoCrudErrorMessages['descripcion']"
        ></app-valid-messages-form>
      </div>
    </c-col>
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="cantidadInput"
          placeholder="Cantidad"
          type="text"
          formControlName="cantidad"
          [ngClass]="{
            'is-invalid':
              getControl('cantidad').invalid && getControl('cantidad').touched,
            'is-valid': getControl('cantidad').valid
          }"
          appOnlyNumbers
        />
        <label cLabel for="cantidadInput">Cantidad</label>
        <app-valid-messages-form
          [errors]="getControlError('cantidad')"
          [messages]="ProductoCrudErrorMessages['cantidad']"
        ></app-valid-messages-form>
      </div>
    </c-col>
  </c-row>
  <c-row class="flex-wrap mb-4">
    <c-col [md]="4">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="precioInput"
          placeholder="Precio"
          type="text"
          formControlName="precio"
          [ngClass]="{
            'is-invalid':
              getControl('precio').invalid && getControl('precio').touched,
            'is-valid': getControl('precio').valid
          }"
          appOnlyNumberAndPoint
        />
        <label cLabel for="precioInput">Precio</label>
        <app-valid-messages-form
          [errors]="getControlError('precio')"
          [messages]="ProductoCrudErrorMessages['precio']"
        ></app-valid-messages-form>
      </div>
    </c-col>
    <c-col [md]="4">
      <div cFormFloating>
        <!-- <input
          cFormControl
          id="local_idInput"
          placeholder="local_id"
          type="text"
          formControlName="local_id"
          [ngClass]="{
            'is-invalid':
              getControl('local_id').invalid && getControl('local_id').touched,
            'is-valid': getControl('local_id').valid
          }"
          appOnlyNumberAndPoint
        /> -->
        <select
          cSelect
          id="localInput"
          formControlName="local_id"
          [ngClass]="{
            'is-invalid':
              getControl('local_id').invalid && getControl('local_id').touched,
            'is-valid': getControl('local_id').valid
          }"
        >
          <option value="0" hidden>Seleccione un local</option>
          <option
            *ngFor="let local of Locales; let i = index"
            [value]="local.id"
          >
            {{ local.nombre }}
          </option>
        </select>
        <label cLabel for="localInput">Local</label>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('local_id')"
        [messages]="ProductoCrudErrorMessages['local_id']"
      ></app-valid-messages-form>
    </c-col>
    <!-- <c-col [md]="4">
      <div cFormFloating>
        <c-form-check switch sizing="lg">
          <input
            cFormCheckInput
            type="checkbox"
            formControlName="ilimitado"
            id="ilimitadoId"
            class="pointer"
          />
          <label cFormCheckLabel class="pointer" for="ilimitadoId"
            >¿Tendrá stock Ilimitado?</label
          >
        </c-form-check>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('ilimitado')"
        [messages]="ProductoCrudErrorMessages['ilimitado']"
      ></app-valid-messages-form>
    </c-col> -->
  </c-row>
  <c-row class="mb-4">
    <c-col class="text-center">
      @if (Producto) {
      <button cButton color="info" (click)="sendValueFom()">Editar</button>
      } @else {
      <button cButton color="info" (click)="sendValueFom()">Agregar</button>
      }
    </c-col>
  </c-row>
</form>
