<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!-- Política de Seguridad para permitir la carga de fuentes y otros recursos -->
        <add name="Content-Security-Policy" value="default-src 'self'; font-src 'self' data: https://alejosb13.github.io/;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
