// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

// custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

.sidebar {
  a.nav-link {
    font-size: 0.9375rem;
  }
}

[data-coreui-theme="light"] {
  .header.header-sticky {
    // $header-bg: #FFFFFF;
    background-color: #f6f7fb;
  }

  .body {
    // $header-bg: #FFFFFF;
    // background-color: #F6F7FB;
  }

  .card {
    // $header-bg: #FFFFFF;
    background-color: #ffffff;
  }
  .card-header {
    // $header-bg: #FFFFFF;
    background-color: transparent;
  }
}

[data-coreui-theme="dark"] {
  .card-header {
    // $header-bg: #FFFFFF;
    background-color: transparent;
  }

  .swal2-container.dark,
  .swal2-container.auto {
    // background-color: #080a0c !important;
    box-shadow: 0 0.5rem 1rem rgba(8, 10, 12, 0.15);
  }

  .swal2-container.dark .swal2-popup,
  .swal2-container.auto .swal2-popup {
    background-color: #212631;
    color: #e0e0e0;
  }

  .swal2-container.dark .swal2-popup .swal2-success-circular-line-left,
  .swal2-container.auto .swal2-popup .swal2-success-circular-line-left {
    background-color: #212631 !important;
  }

  .swal2-container.dark .swal2-popup .swal2-success-fix,
  .swal2-container.auto .swal2-popup .swal2-success-fix {
    background-color: #212631 !important;
  }

  .swal2-container.dark .swal2-popup .swal2-success-circular-line-right,
  .swal2-container.auto .swal2-popup .swal2-success-circular-line-right {
    background-color: #212631 !important;
  }
}
