// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

// $header-bg: #FFFFFF;
$body-bg: #F6F7FB;

// $card-bg: #FFFFFF;
// $card-cap-bg : transparent ;
$card-border-width: none;
$card-box-shadow: none;
$card-border-radius: 15px;
$card-cap-padding-x :  1.5625rem ;
$card-spacer-x:  1.5625rem ;
$card-cap-padding-y :  1.0625rem ;
$card-spacer-y:  0.5625rem ;
// $table-bg : transparent;

$sidebar-nav-link-padding-y:  .45rem !default;
$sidebar-nav-link-padding-y:  .45rem !default;

// $body-color: #F6F7FB;
