<c-card class="my-4">
  <c-card-body class="pt-4">
    <c-container
      [fluid]="true"
      class="my-table-full px-0"
      *ngIf="!loaderFactura"
    >
      <div class="card p-4 shadow-sm">
        <div class="row mb-5">
          <div class="col-md-6">
            <h5 class="text-capitalize">
              <strong>Cliente:</strong> {{ Factura.cliente?.nombre }}
              {{ Factura.cliente?.apellido }}
            </h5>
            <p class="my-1">
              <strong>Tel:</strong> {{ Factura.cliente?.telefono }}
            </p>
            <p class="my-1">
              <strong>Descripción:</strong> {{ Factura.descripcion }}
            </p>
            <p class="my-1">
              <strong>Empleado:</strong> {{ Factura.empleado?.nombre_completo }}
            </p>
          </div>
          <div class="col-md-6 text-md-end">
            <h5><strong>Factura</strong></h5>
            <p class="my-1"><strong>ID:</strong> #{{ Factura.id }}</p>
            <p class="my-1">
              <strong>Usuario:</strong> #{{ Factura.user?.nombre_completo }}
            </p>
            <p class="my-1">
              <strong>Fecha:</strong>
              {{ Factura.created_at | date : "dd-MM-yyyy" }}
            </p>
            <p class="my-1">
              <strong>Estado:</strong>
              <span
                class="badge ms-2"
                [ngClass]="{
                  'bg-success': Factura.estado == 1,
                  'text-dark': Factura.estado == 1,
                  'bg-danger': Factura.estado == 0,
                  'text-white': Factura.estado == 0
                }"
                >{{ Factura.estado == 1 ? "Finalizada" : "Eliminada" }}</span
              >
            </p>
          </div>
        </div>
        <div class="row mb-5">
          <table cTable [responsive]="true" [hover]="true">
            <thead class="text-nowrap text-truncate">
              <tr>
                <th class="bg-body-tertiary">#</th>
                <th class="bg-body-tertiary">Descripción</th>
                <th class="bg-body-tertiary">Cantidad</th>
                <th class="bg-body-tertiary">Gratis</th>
                <th class="bg-body-tertiary">Precio unidad</th>
                <th class="bg-body-tertiary">Precio Total</th>
              </tr>
            </thead>
            <tbody>
              @for (FacDetalle of Factura.factura_detalle; track FacDetalle.id;
              let i = $index) {
              <tr>
                <td>{{ FacDetalle.producto?.id }}</td>
                <td>{{ FacDetalle.producto?.descripcion }}</td>
                <td>{{ FacDetalle.cantidad }}</td>
                <td>{{ FacDetalle?.gratis == 1 ? "Si" : "No" }}</td>
                <td>{{ FacDetalle.precio | currency : "ARS" }}</td>
                <td>
                  {{
                    FacDetalle.precio * FacDetalle.cantidad | currency : "ARS"
                  }}
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="row text-end mb-1">
          <div class="col-md-9"><strong>Subtotal:</strong></div>
          <div class="col-md-3">{{ Factura.sub_total | currency : "ARS" }}</div>
        </div>
        <div class="row text-end mb-1">
          <div class="col-md-9"><strong>Descuento:</strong></div>
          <div class="col-md-3">{{ Factura.descuento }} %</div>
        </div>
        <div class="row text-end fw-bold fs-5">
          <div class="col-md-9">Total a Pagar:</div>
          <div class="col-md-3">{{ Factura.total | currency : "ARS" }}</div>
        </div>
      </div>
    </c-container>
    <c-container [fluid]="true" class="px-0 text-center" *ngIf="loaderFactura">
      <c-row class="mb-4">
        <c-col>
          <div class="small text-body-secondary mt-3">
            <span class="h4">
              Cargando <c-spinner aria-hidden="true" size="sm" variant="grow"
            /></span>
          </div>
        </c-col>
      </c-row>
    </c-container>
  </c-card-body>
</c-card>
