<div cForm [formGroup]="PedidoCrudForm" class="form-Pedido-crud border p-4">
  <c-row class="mb-4 flex-wrap">
    <c-col [md]="12">
      <div cFormFloating class="mb-3">
        <input
          cFormControl
          id="clienteInput"
          placeholder="cliente_id"
          type="text"
          formControlName="cliente_id"
          type="text"
          [ngClass]="{
            'is-invalid':
              getControl('cliente_id').invalid &&
              getControl('cliente_id').touched,
            'is-valid': getControl('cliente_id').valid
          }"
          appOnlyAlphanumeric
          [ngbTypeahead]="searchClient"
          [resultTemplate]="CLientTypeaHead"
          [inputFormatter]="formatterValue"
        />
        <!-- </div> -->
        <label cLabel for="clienteInput">Cliente</label>
        <app-valid-messages-form
          [errors]="getControlError('cliente_id')"
          [messages]="PedidoCrudErrorMessages['cliente_id']"
        ></app-valid-messages-form>
        <ng-template
          #CLientTypeaHead
          let-resultado="result"
          let-resaltado="term"
        >
          <ngb-highlight
            [result]="resultado.id"
            [term]="resaltado.id"
          ></ngb-highlight>
          -
          <ngb-highlight
            [result]="resultado.nombre"
            [term]="resaltado.nombre"
          ></ngb-highlight>
          &nbsp;
          <ngb-highlight
            [result]="resultado.apellido"
            [term]="resaltado.apellido"
          ></ngb-highlight>
        </ng-template>
      </div>
    </c-col>
    <c-col [md]="12" class="mb-3">
      <div cFormFloating>
        <select
          cSelect
          id="rolInput"
          formControlName="servicio_id"
          [ngClass]="{
            'is-invalid':
              getControl('servicio_id').invalid &&
              getControl('servicio_id').touched,
            'is-valid': getControl('servicio_id').valid
          }"
        >
          <option value="null" hidden>Seleccione un servicio</option>
          <option
            *ngFor="let servicio of Servicios; let i = index"
            [ngValue]="servicio.id"
          >
            {{ servicio.descripcion | titlecase }}
          </option>
        </select>
        <label cLabel for="rolInput"
          >Servicio
          <!-- <c-spinner size="sm" *ngIf="loadingServicios" /> -->
        </label>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('servicio_id')"
        [messages]="PedidoCrudErrorMessages['servicio_id']"
      ></app-valid-messages-form>
    </c-col>
    <c-col [md]="12" class="mb-3">
      <div cFormFloating>
        <select
          cSelect
          id="metodoInput"
          formControlName="metodo_pago_id"
          [ngClass]="{
            'is-invalid':
              getControl('metodo_pago_id').invalid &&
              getControl('metodo_pago_id').touched,
            'is-valid': getControl('metodo_pago_id').valid
          }"
        >
          <option hidden value="null">Seleccione un método de pago</option>
          <option
            *ngFor="let MetodosPago of MetodosPagos"
            [ngValue]="MetodosPago.id"
          >
            {{ MetodosPago.tipo | uppercase }}
          </option>
        </select>
        <label cLabel for="metodoInput"
          >Método de Pago
          <!-- <c-spinner size="sm" *ngIf="loadingMetodosPagos" /> -->
        </label>
      </div>
      <app-valid-messages-form
        [errors]="getControlError('metodo_pago_id')"
        [messages]="PedidoCrudErrorMessages['metodo_pago_id']"
      ></app-valid-messages-form>
    </c-col>
  </c-row>

  <c-row class="mb-4 mt-2">
    <c-col [md]="12" class="d-flex align-items-center justify-content-center">
      <!-- @if (PedidoDetail) {
      <button
        [disabled]="!this.PedidoCrudForm.valid"
        cButton
        color="primary"
        (click)="sendValueFom()"
      >
        Editar
      </button>
      } @else {
       -->
      <button
        cButton
        class="btn-danger me-4"
        (click)="activeModal.dismiss('Cross click')"
      >
        Cancelar
      </button>
      <button
        [disabled]="!this.PedidoCrudForm.valid"
        cButton
        variant="outline"
        (click)="sendValueFom()"
      >
        <svg cIcon height="18" name="cil-save"></svg>
        Crear
      </button>
    </c-col>
  </c-row>
</div>
